.zed
.idea
.vscode
.DS_Store
Gemfile.lock
app/.DS_Store
app/frontend/.DS_Store
app/views/.DS_Store
app/assets/.DS_Store


vue-front/node_modules
vue-front/src/presets
vue-front/src/presets/aura
vue-front/.vscode
vue-front/.zed
vue-front/.idea
vue-front/.DS_Store

react-front/node_modules
react-front/.DS_Store
react-front/.vscode
react-front/.zed
react-front/.idea